// - - - - - - - - - - - - - - - - - - -
// - - skin
// global skin styles - gradients, colors, box-shadows, etc.

$middleBlueGreen: hsla(172%, 59%, 66%, 1);
$paleSilver: hsla(93%, 31%, 79%, 1);
$paleGoldenrod: hsla(59%, 43%, 76%, 1);
$deepReach: hsla(29%, 80%, 81%, 1);
$lightSalmon: hsla(17%, 92%, 74%, 1);
