// .core-layout__viewport {
//   padding-top: 4rem;
// }
.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.center-flex {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    background: url(https://www.exertion.io/images/squeeze_blur.png);
    background-size: cover;
    text-align: center;
    overflow: hidden;
}
