@import 'application';

button.counter {
    background-color: $darksalmon;
    border-radius: 10px;
    border-style: none;
    margin: 0 5px;
    transition: 300ms ease-in-out;
    color: $black;

    &:hover {
        background-color: darken($darksalmon, 10%);
        color: $white;
        cursor: pointer;
    }
}
