// - - - - - - - - - - - - - - - - - - -
// - - typography
// global typography styles

@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Montserrat|Roboto');

@import '../libs/modular-scale/_modular-scale.scss';
$font-headers: 'Roboto';
$font-content: 'Montserrat';
$font-logo: 'Calligraffitti';

$primary-text-color: hsla(293, 15%, 20%, 1);
$secondary-text-color: hsla(0, 0%, 13%, 1);


html, body {
  font-family: $font-content, "sans-serif";
  font-weight: 400;
  font-style: normal;
  line-height: 1.45;
  @media (max-width: 570px) {
      font-size: ms(2);
  }
  @media (min-width: 571px) {
      font-size: 20px;
  }
  color: $secondary-text-color;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
    margin: 1.414em 0.5em 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}


h1 {
  margin-top: 0;
  font-family: $font-headers, "sans-serif";
  font-weight: 600;
  font-style: inherit;
  font-size: ms(5);
  color: $primary-text-color;
}

h2 {
  font-family: $font-headers, "sans-serif";
  font-weight: 600;
  font-style: inherit;
  font-size: ms(4);
  color: $primary-text-color;
}

h3 {
  font-family: $font-headers, "sans-serif";
  font-weight: 600;  font-style: inherit;
  font-size: ms(3);
  color: $primary-text-color;
}

h4 {
  font-family: $font-headers, "sans-serif";
  font-weight: 600;
  font-style: inherit;
  font-size: ms(2);
  color: $primary-text-color, "sans-serif";
}

h5 {
  font-family: $font-headers, "sans-serif";
  font-weight: 400;
  font-style: italic;
  font-size: ms(2);
  color: $primary-text-color;
}

p {
    margin-bottom: 1.3em;
}

p, ul, ol, pre, table, blockquote {
  font-family: inherit;
}

b, strong, em, small, code {
  line-height: 1;
}
