$phi: 1.6180339887498948482;

.presentationComponent {
  width: 10vw * $phi;
  height: 10vw;
  @media (max-width: 570px) {
      min-width: 25vw;
      min-height: 15vw;
  }
  max-width: 28vw;
  max-height: 18vw;
  background-color: hsla(0, 95%, 95%, .33);
  border-radius: 15px;
  box-shadow: 3px 3px 14px 0px hsla(0, 0%, 0%, .75);
  cursor: pointer;
  margin: 2vw 5vw;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  &:hover {
    background: darken($color: hsla(0, 95%, 95%, .33), $amount: 10%);
  }
}

.center {
    display: inline-flex;
    align-items: center;
    vertical-align: center;
}
