$phi: 1.6180339887498948482;

.presentationComponent {
  width: 10vw * $phi;
  height: 10vw;
  background-color: hsla(0, 95%, 95%, .33);
  text-align: center;
  line-height: 10vw;
  border-radius: 15px;
  box-shadow: 3px 3px 14px 0px hsla(0, 0%, 0%, .75);
  cursor: pointer;
  margin: 0 5vw;
  display: inline-block;

  &:hover {
    background: darken($color: hsla(0, 95%, 95%, .33), $amount: 10%);
  }
}
