.fower-oh-fower {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(https://www.exertion.io/images/fowerohfower.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fower-text {
    max-width: 50%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    -moz-osx-font-smoothing: grayscale;
}
