@import 'application';
.nav {
  height: 75px;
  width: 100vw;
  position: fixed;
  z-index: 1;
  margin-bottom: 1vw;
  display: inline-flex;

  & > ul {
    height: inherit;
    list-style: none;
    line-height: 110px;
    display: flex;
    width: 45%;

    & > .right {
      justify-content: flex-end;
    }

    & > .left {
      justify-content: flex-start;
    }

    & > li.hover-effect {
      padding: 0 10px;
      cursor: pointer;
      transition: all 400ms ease-in-out;
      width: 85px;
      color: white;
      font-weight: bolder;

      &:hover {
        background: darken($color: hsla(0, 95%, 95%, .33), $amount: 10%);
        color: black;
        font-weight: bolder;
      }
    }

      & > h1 {
        color: lighten($color: black, $amount: 10%);
        width: 150px;
      }
    }
}

.website-name {
    color: $rose
}
