@import 'application.scss';
.nav {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  margin-top: 5vh;

  & > ul {
        height: inherit;
        width: 75vw;
        list-style: none;
        display: flex;
        justify-content: space-around;

    & > li.hover-effect {
      cursor: pointer;
      transition: all 400ms ease-in-out;
      color: white;
      font-weight: bolder;
      text-align: center;

      &:hover {
        color: black;
        font-weight: bolder;
      }
    }

      & > h1 {
        color: lighten($color: black, $amount: 10%);
        width: 150px;
      }
    }
}


.website-name {
    color: $rose
}
