$font-headers: 'Roboto';

.centerHome {
  margin: 35vh auto;
}

.squeeze {
  animation: squeeze 600ms ease-in-out 2000ms forwards;

  @keyframes squeeze {
    0% {
      letter-spacing: inherit;
    }
    50% {
      letter-spacing: -.04em;
    }
    75% {
      letter-spacing: 0.04em;
    }
    100% {
      letter-spacing: inherit;
    }
  }
}
