@charset 'utf-8';

// - - css-burrito v1.6 | mit license | github.com/jasonreece/css-burrito

// - - - - - - - - - - - - - - - - - - -
// - - application.scss
// contains an import section for libs, global, and modules, the inbox,
// and a shame section for quick fixes and hacks.

// - - variable overrides for 3rd party libraries
@import 'libs/library-variable-overrides';

// - - - - - - - - - - - - - - - - - - -
// - - libs
// add 3rd party libraries here.
// be sure to load them after the variable overrides file

// - - - - - - - - - - - - - - - - - - -
// - - global

// - - global/settings
// sass variables and maps
@import 'global/settings';

// - - global/utilities
// extends, functions, and mixins
@import 'global/utilities';

// - - global/base
// base-level tags (body, p, etc.)
@import 'global/base';

// - - global/layout
// margin, padding, sizing
@import 'global/layout';

// - - global/skin
// backgrounds, borders, box-shadow, etc
@import 'global/skin';

// - - global/typography
// fonts and colors
@import 'global/typography';

// - - - - - - - - - - - - - - - - - - -
// - - modules
// add new modules to the modules/_modules.scss file and they'll get pulled in here.
@import 'modules/modules';

// - - - - - - - - - - - - - - - - - - -
// - - inbox
// the inbox allows developers, and those not actively working on the project
// to quickly add styles that are easily seen by the maintainer of the file.
.nav {
  width: 70vw;
  height: 75px;
  position: fixed;
  top: 0px;
  z-index: 1;
  margin-bottom: 1vw;
  & > ul {
    height: inherit;
    list-style: none;
    line-height: 110px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;

    & > li  {
      justify-content: center;
      padding: 0 10px;
      cursor: pointer;
      transition: all 400ms ease-in-out;
      width: 85px;
      color: white;
      font-weight: bolder;

      &:hover {
        background: darken($color: hsla(0, 95%, 95%, .33), $amount: 10%);
        color: black;
        font-weight: bolder;
      }
    }
  }
}

.center-flex-cards {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
  background-image: url(/images/squeeze_blur.png);
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
// - - - - - - - - - - - - - - - - - - -
// - - shame
// need to add a quick fix, hack, or questionable technique?  add it here, fix it later.
